<%= simple_form_for idea, html: { class: "idea form" } do |f| %>
  <% if idea.errors.any? %>
    <div class="error-message">
      <%= idea.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :name, input_html: { autofocus: true } %>
  <%= f.submit class: "btn btn--secondary" %>
<% end %>